/* Az egész oldal fehér háttere */
.full-page-container {
    background-color: white;
    min-height: 100vh; /* Az egész viewport magasságot kitölti */
    display: flex;
    flex-direction: column;
  }
  
  /* Fejléc stílusa */
  .profile-header {
    width: 100%;
    background-color: #f5f5f5; /* Világos szürke háttér a fejlécnek */
    padding: 2rem;
    text-align: center;
    border-bottom: 1px solid #ddd; /* Vékony szegély a fejléc alján */
    height: 150px;
  }
  
  /* Vissza gomb stílusa */
  .back-button {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
  
  /* Profilkép stílusa */
  .profile-avatar {
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
    border-radius: 50%; /* Kerek profilkép */
    border: 3px solid #fff; /* Fehér keret a profilkép körül */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Árnyék a profilkép körül */
    left: 1rem;
    top: 3rem;
    position: absolute;
  }
  
  /* Név stílusa */
  .profile-name {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    left: 8rem;
    top: 5.3rem;
    position: absolute;
  }
  
  /* Felhasználónév stílusa */
  .profile-username {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: #666; /* Szürke szín a felhasználónévhez */
    position: absolute;
    left: 8rem;
    top: 4rem;
  }
  
  /* Email stílusa */
  .profile-email {
    font-size: 1rem;
    color: #666; /* Szürke szín az emailhez */
    position: absolute;
    left: 8rem;
    top: 7rem;
  }